*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.post-container{

    min-height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    background:#f5f7fa;

    padding:40px;

}

.post-card{

    width:700px;

    background:white;

    padding:40px;

    border-radius:18px;

    box-shadow:0 15px 35px rgba(0,0,0,.12);

}

.post-card h1{

    text-align:center;

    color:#2563eb;

    margin-bottom:10px;

}

.post-card p{

    text-align:center;

    color:#6b7280;

    margin-bottom:30px;

}

.post-card form{

    display:flex;

    flex-direction:column;

}

.post-card label{

    margin-bottom:8px;

    margin-top:15px;

    font-weight:600;

    color:#374151;

}

.post-card input,
.post-card textarea{

    padding:15px;

    border:1px solid #d1d5db;

    border-radius:10px;

    outline:none;

    font-size:16px;

}

.post-card input:focus,
.post-card textarea:focus{

    border-color:#2563eb;

}

.post-card textarea{

    resize:none;

}

.post-card button{

    margin-top:30px;

    padding:15px;

    border:none;

    border-radius:10px;

    background:#2563eb;

    color:white;

    font-size:17px;

    font-weight:600;

    cursor:pointer;

    transition:.3s;

}

.post-card button:hover{

    background:#1d4ed8;

}

@media(max-width:768px){

.post-card{

width:100%;

padding:25px;

}

}