*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.signup-container{

    min-height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    background:linear-gradient(135deg,#2563eb,#4f46e5);

    padding:20px;

}

.signup-card{

    width:420px;

    background:white;

    padding:40px;

    border-radius:18px;

    box-shadow:0 20px 40px rgba(0,0,0,.2);

}

.signup-card h1{

    text-align:center;

    color:#2563eb;

}

.signup-card p{

    text-align:center;

    color:#6b7280;

    margin:10px 0 30px;

}

.signup-card form{

    display:flex;

    flex-direction:column;

    gap:18px;

}

.signup-card input{

    padding:15px;

    border:1px solid #ddd;

    border-radius:10px;

    outline:none;

    font-size:16px;

}

.signup-card input:focus{

    border-color:#2563eb;

}

.signup-card button{

    padding:15px;

    border:none;

    border-radius:10px;

    background:#2563eb;

    color:white;

    font-size:17px;

    font-weight:600;

    cursor:pointer;

    transition:.3s;

}

.signup-card button:hover{

    background:#1d4ed8;

}

.login-link{

    text-align:center;

    margin-top:25px;

}

.login-link a{

    text-decoration:none;

    color:#2563eb;

    font-weight:bold;

}